@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.nav_bar {
    margin: 0, 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #24252a;
    z-index: 9999; /* Set a high z-index value */

}
li,
a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

.nav__links {
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.nav__links li {
    padding: 0px 20px;
    display: inline-block;
}

.nav__links li a {
    transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}
.logo {
    cursor: pointer;
    margin-right: auto;
    height: 4%;
    width: 4%;
}
header {
    /* opacity: 1; */
    background-color: #24252a;
    display: flex;
    justify-content: flex-end;
    padding: 3px 5%;
    align-items: center;
    z-index: 9999;
}
button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: color 0.3s ease 0s;
}

