.work_exp{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items to the top */
  height: 100vh;
}
.titles {
  padding-bottom: 10%;
    font-size: 75px;
    color: white;
    -webkit-text-stroke: 1px #333333;
    margin-top: 10vh !important; /* Adjust the top margin as desired */
  }
  .comp_img{
    width: 200px;
    border-radius: 50%;
  }
  .work_card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5%;
    margin-top: 5vh;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  .work_text{
  
    width: 70%;
  
    text-align: center;
    color: #333333;
    font-size: 20px;
    text-align: left;
    padding-left: 10%;
    /* color: #FFFFF0; */
    color: black;
    
  }
  .sub_titles {
    color: rgba(0, 136, 169, 0.8);
    font-weight: 600;
    font-size: 24px;

}


h3{
    display: inline;
}
.work_icon{
  max-width: 100%; /* Ensure the image does not exceed the parent container */
  max-height: 100%; /* Ensure the image does not exceed the parent container */
  width: auto; /* Automatically adjust the width while maintaining aspect ratio */
  height: auto; /* Automatically adjust the height while maintaining aspect ratio */
  object-fit: cover; /* Maintain the aspect ratio and cover the container */
  object-position: center; /* Center the image within the container */
  border-radius: 50%; /* Make the container circular */

}
.vertical-timeline-element-contant{

  box-shadow: 0 0 .25em 0.5em 0 rgba(0,0,0,0.25), 0 0.4em 1.25em 0 rgba(0,0,0,0.15) !important;
  padding: 2em 3em !important
}
.date{
  color: white;
}
#description{
  margin :1.5em 0 0 0  ;
  font-size: 16px ;
}
.vertical-timeline-element-title{
  font-size: 24px;
  font-weight: 600;
}
